In [1]:
import pandas as pd

In [2]:
train = pd.read_csv('train.csv', header=0, low_memory=False)

In [3]:
train = train.sample(n=1000000)

In [4]:
transactions = pd.read_csv('transactions_clean.csv')
stores = pd.read_csv('stores.csv', header=0)
transactions = pd.read_csv('transactions_clean.csv', header=0)
items = pd.read_csv('items.csv', header=0)
holidays = pd.read_csv('holidays_events.csv', header=0)
oil = pd.read_csv('oils_clean.csv', header=0)

In [5]:
holidays = holidays.rename(columns={'date':'date','type':'holidaytype','locale':'locale','locale_name':'locale_name',
                           'description':'description','transferred':'transferred'})
nationalholidays = holidays[holidays['locale']=='National']
regionalholidays = holidays[holidays['locale']=='Regional']
localholidays = holidays[holidays['locale']=='Local']

localholidays = localholidays.rename(columns={'date':'date','holidaytype':'holidaytype','locale':'locale','locale_name':'city','description':'description','transferred':'transferred'})
regionalholidays = regionalholidays.rename(columns={'date':'date','holidaytype':'holidaytype','locale':'locale','locale_name':'state','description':'description','transferred':'transferred'})


transactions = transactions.melt(id_vars=['date'])
transactions = transactions.rename(columns={'date':'date','variable':'store_nbr','value':'transactions'})
transactions['store_nbr'] = transactions['store_nbr'].map(lambda x: int(x))

In [6]:
train['onpromotion'].fillna(False, inplace=True)

In [7]:
# Combine with other files
train = train.merge(items, on='item_nbr', how='left')
train = train.merge(stores, on='store_nbr', how='left')
train = train['store_nbr'].map(lambda a: int(a))
train = train.merge(transactions, how='left', on=['date','store_nbr'])
train = train.merge(oil, how='left', on='date')
train = train.merge(nationalholidays, on='date', how='left')
train = train.merge(regionalholidays, on=['date','state'], how='left', suffixes=('_n','_r'))
train = train.merge(localholidays, on=['date','city'], how='left')

In [9]:
# Convert date to datetime
import datetime
format = '%Y-%m-%d'
train['date'] = train['date'].map(lambda a: datetime.datetime.strptime(a, format))
train['day'] = train['date'].map(lambda x: x.weekday())
train['month'] = train['date'].map(lambda x: x.month)
train['year'] = train['date'].map(lambda x: x.year)

In [17]:
transactions['store_nbr'] = transactions['store_nbr'].map(lambda x: int(x))
#train = train['store_nbr'].map(lambda a: int(a))
#train.drop('transactions', inplace=True)
train = train.merge(transactions, how='left', on=['date','store_nbr'])

AttributeError: 'Series' object has no attribute 'merge'

In [18]:
train.head()

0    34
1     1
2    33
3    43
4    25
Name: store_nbr, dtype: int64

In [11]:
train.to_csv('train_SampleForEDA.csv', index=False)

In [12]:
train.count()

id               1003225
date             1003225
store_nbr        1003225
item_nbr         1003225
unit_sales       1003225
onpromotion      1003225
family           1003225
class            1003225
perishable       1003225
city             1003225
state            1003225
type             1003225
cluster          1003225
transactions           0
dcoilwtico       1003225
holidaytype_n      91328
locale_n           91328
locale_name        91328
description_n      91328
transferred_n      91328
holidaytype_r        261
locale_r             261
description_r        261
transferred_r        261
holidaytype         4442
locale              4442
description         4442
transferred         4442
day              1003225
month            1003225
year             1003225
dtype: int64

In [29]:
train2 = pd.read_csv('train_SampleForEDA.csv', header=0, low_memory=False)

In [30]:
train2.drop('transactions', axis=1, inplace=True)
train2 = train2.merge(transactions, how='left', on=['date','store_nbr'])

In [31]:
list(train2)

['id',
 'date',
 'store_nbr',
 'item_nbr',
 'unit_sales',
 'onpromotion',
 'family',
 'class',
 'perishable',
 'city',
 'state',
 'type',
 'cluster',
 'dcoilwtico',
 'holidaytype_n',
 'locale_n',
 'locale_name',
 'description_n',
 'transferred_n',
 'holidaytype_r',
 'locale_r',
 'description_r',
 'transferred_r',
 'holidaytype',
 'locale',
 'description',
 'transferred',
 'day',
 'month',
 'year',
 'transactions']

In [32]:
train2.head()

,id,date,store_nbr,item_nbr,unit_sales,onpromotion,family,class,perishable,city,...,description_r,transferred_r,holidaytype,locale,description,transferred,day,month,year,transactions
0,26680820,2014-07-07,34,1239812,4.0,False,DAIRY,2170,1,Guayaquil,...,NaN,NaN,NaN,NaN,NaN,NaN,0,7,2014,2509.0
1,67038680,2016-01-08,1,2007133,3.0,False,DAIRY,2172,1,Quito,...,NaN,NaN,NaN,NaN,NaN,NaN,4,1,2016,1823.0
2,55703443,2015-09-04,33,1047696,3.0,False,BEVERAGES,1122,0,Quevedo,...,NaN,NaN,NaN,NaN,NaN,NaN,4,9,2015,901.0
3,55192368,2015-08-29,43,1351305,1.0,False,GROCERY I,1042,0,Esmeraldas,...,NaN,NaN,NaN,NaN,NaN,NaN,5,8,2015,1461.0
4,98161249,2016-11-27,25,830625,3.0,False,CLEANING,3032,0,Salinas,...,NaN,NaN,NaN,NaN,NaN,NaN,6,11,2016,736.0

In [33]:
train2.to_csv('train_SampleForEDA.csv', index=False)

In [34]:
train2.count()

id               1003225
date             1003225
store_nbr        1003225
item_nbr         1003225
unit_sales       1003225
onpromotion      1003225
family           1003225
class            1003225
perishable       1003225
city             1003225
state            1003225
type             1003225
cluster          1003225
dcoilwtico       1003225
holidaytype_n      91328
locale_n           91328
locale_name        91328
description_n      91328
transferred_n      91328
holidaytype_r        261
locale_r             261
description_r        261
transferred_r        261
holidaytype         4442
locale              4442
description         4442
transferred         4442
day              1003225
month            1003225
year             1003225
transactions     1003223
dtype: int64

In [ ]:
train_full = pd.read_csv('train_finalclean.csv', header=0, low_memory=False)