In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('train.csv', low_memory=False)
df.head()

   id        date  store_nbr  item_nbr  unit_sales onpromotion
0   0  2013-01-01         25    103665         7.0         NaN
1   1  2013-01-01         25    105574         1.0         NaN
2   2  2013-01-01         25    105575         2.0         NaN
3   3  2013-01-01         25    108079         1.0         NaN
4   4  2013-01-01         25    108701         1.0         NaN

In [3]:
df.count()

id             125497040
date           125497040
store_nbr      125497040
item_nbr       125497040
unit_sales     125497040
onpromotion    103839389
dtype: int64

In [10]:
t = df['item_nbr'].value_count()
len(t)

AttributeError: 'Series' object has no attribute 'value_count'

In [7]:
t = df['store_nbr'].value_count()
len(t)

54

In [8]:
df.tail()

                  id        date  store_nbr  item_nbr  unit_sales onpromotion
125497035  125497035  2017-08-15         54   2089339         4.0       False
125497036  125497036  2017-08-15         54   2106464         1.0        True
125497037  125497037  2017-08-15         54   2110456       192.0       False
125497038  125497038  2017-08-15         54   2113914       198.0        True
125497039  125497039  2017-08-15         54   2116416         2.0       False